.ace-nav{
	height: 100%;
  margin: 0!important;
}

.nav-user-photo {
    margin: 0px 8px 0 0;
    border: 2px solid #FFF;
    max-width: 40px !important;
    width: 20%;
}

.user-info {
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    line-height: 15px;
    position: relative;
    top: 6px;
}

.user-info > small{
	display: block;
	font-size: 10px;
}

.nav-info-user .dropdown-menu{
	min-width: 185px !important;
}